
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    /* text-transform: uppercase; */
}

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 350px;
    font-family: 'Lora', serif;
    /* background-color: #141414; */
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #ffffff !important;
    /* position: absolute;
    top: 0;
    width: 100%; */
    z-index: 10;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.navbar-brand svg {
    width: 21px;
}

.nav-link {
    color: white !important;
    /* background-color: black; */
    background-color: #2D2D2D;
}

.hero {
    position: relative;
    /* background-image: url("../img/hero.jpg"); */
    /* background-color: #030303; */
    min-height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* border-bottom: 2px solid #2D2D2D; */
    /* text-align: center; */
}

/* .hero-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
} */

/* .hero-bg-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/noisy2.png");
    opacity: 0.1;
} */

.hero-bg-black {
    position: absolute;
    top: -900%;
    left: 0;
    background-color: #2D2D2D;
    width: 100%;
    height: 1000%;
}

.hero-bg-black::after {
    content: '';
    position: absolute;
    top: -900%;
    left: 0;
    width: 100%;
    height: 1000%;
    background-image: url("../img/noisy2.png");
    opacity: 0.08;
    /* z-index: 4; */
}

.hero-content {
    position: relative;
    z-index: 5;
}

.noise {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/noisy2.png");
    opacity: 0.04;
    z-index: 2;
}

.bg-black {
    position: relative;
    background-color: #2D2D2D;
    /* border-top: 1px solid rgba(255, 255, 255, 0.15); */
}

.page-container {
    /* padding-top: 80px;
    padding-bottom: 80px; */
}

hr.line-black-left {
    border: 0;
    height: 2.0px;
    background-color: #2D2D2D;
    width: 66px;
    margin-left: 0px;
}

hr.small-line-white-left {
    border: 0;
    height: 2.5px;
    background-color: #ffffff;
    width: 130px;
    margin-left: -30px;
}

/* Pagination */

.page-item .page-link {
    z-index: 3;
    color: #2D2D2D;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2D2D2D;
    border-color:#2D2D2D;
}

.page-item.disabled .page-link {
    z-index: 3;
    color: #7c7c7c;
}

/* Button styling */

.button {
    font-family: 'Montserrat', sans-serif;
    padding: 8px 15px;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    /* text-transform: uppercase; */
}

.button:hover {
    cursor: pointer;
}

.button-black {
    background-color: black;
    color: white;
    /* border-radius: 0.5rem; */
    border: 2px solid black;
    /* font-weight: bold; */
}

.button-black a {
    color: white;
    text-decoration: none;
}

.button-black:hover {
    background-color: rgb(20, 20, 20);
}

.button-black-inverse {
    background-color: transparent;
    color: black;
    /* border-radius: 0.5rem; */
    border: 2px solid black;
    /* font-weight: bold; */
}

.button-black-inverse a {
    color: black;
    text-decoration: none;
}

.button-black-inverse:hover {
    background-color: rgba(0, 0, 0, 1);
}

.button-black-inverse:hover a,
.button-black-inverse:hover {
    color: white;
}

.button-white {
    background-color: white;
    color: black;
    /* border-radius: 0.5rem; */
    border: 2px solid white;
}

.button-white a {
    color: black;
    text-decoration: none;
}

.button-white:hover {
    background-color: rgb(238, 238, 238);
}

.button-white-inverse {
    background-color: transparent;
    color: white;
    /* border-radius: 0.5rem; */
    border: 2px solid white;
}

.button-white-inverse a {
    color: white;
    text-decoration: none;
}

.button-white-inverse:hover {
    background-color: rgba(255, 255, 255, 0.068);
}

.button-small {
    padding: 6px 12px;
    font-size: 0.8rem;
}

.button-large {
    padding: 10px 50px;
}



.full-height {
    height: auto;
}

.display-flex {
    display: flex;
}

.center-align {
    align-items: center;
}

.blog-post-cards {
    position: relative;
    /* margin-top: -80px; */
}

.blog-post-card {
    position: relative;
    height: 250px;
    background-color: #2D2D2D;
    box-sizing: border-box;
    padding: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.blog-post-card-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.blog-post-card-bg-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/noisy2.png");
    opacity: 0.08;
}

.blog-post-card-content {
    position: relative;
    z-index: 5;
}

.blog-post-card:hover {
    /* transform: scale(1.01, 1.01); */
    /* transition: all 0.1s ease-in-out;
    transform: translateY(-2.5%) scale(1.01, 1.01); */
}

.blog-post-card-content {
    position: absolute;
    z-index: 2;
}

.blog-post-card h3 {
}

.overlay-dark {
    /* z-index: 2; */
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.418); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0) 0%,rgba(0, 0, 0, 0.662) 100%);
    background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.0) 0%,
    rgba(0, 0, 0, 0.562) 100%
    );
}

.blog-post-hero {
    position: relative;
    /* background-image: url("../img/hero.jpg"); */
    min-height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.subscribe {
    background-color: #2D2D2D;
}

.subscribe input {
    border: 1px solid white;
    outline: none;
}

.about-hero {
    position: relative;
    background-image: url("../img/hero.jpg");
    min-height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.contact-hero {
    position: relative;
    background-image: url("../img/hero.jpg");
    min-height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
}


.footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 350px;
    /* background-color: #2D2D2D; */
    /* background-color: #7a7a7a; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Form styling */

.form input,
.form textarea {
    width: 100%;
    padding: 0.5rem;
}

[hidden] {
    display: none !important;
}


/* Responsive styling */

@media (max-width: 767px) {
    .navbar-collapse .nav-link {
        color: black !important;
        background-color: #ffffff;
    }
    .navbar li {
        margin-left: 0px !important;
    }
    .nav-link {
        text-align: center;
    }
    .hero h1 {
        font-size: 4rem;
    }
    .hero h2 {
        font-size: 1.5rem;
    }
    .hero {
        min-height: 50vh;
    }
}

@media (max-width: 575px) {
    /* .blog-posts-header.row {
        margin-bottom: 0 !important;
    }
    .blog-posts-header form {
        margin-bottom: 1rem;
    } */
    .subscribe form {
        flex-flow: column;
    }
    .subscribe input {
        width: 100% !important;
        margin-bottom: 1rem;
    }
}

@media (max-width: 500px) {
    .hero h1 {
        font-size: 3rem;
    }
    .hero h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 390px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    .hero h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 300px) {
    .hero h1 {
        font-size: 2.2rem;
    }
    .hero h2 {
        font-size: 1.0rem;
    }
}

@media (max-width: 270px) {
    .hero h1 {
        font-size: 1.8rem;
    }
    .hero h2 {
        font-size: 1.0rem;
    }
}
