
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    /* text-transform: uppercase; */
}

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 350px;
    font-family: 'Lora', serif;
}

.hero {
    position: relative;
    background-image: url("../img/hero.jpg");
    min-height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.hero-content {
    position: relative;
    z-index: 5;
}

.noise {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/noisy2.png");
    opacity: 0.04;
    z-index: 4;
  }

.button {
    padding: 8px 15px;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    border-color: black;
    font-family: 'Lora', serif;
    /* font-weight: bold; */
}

.button-small {
    padding: 6px 12px;
    font-size: 0.8rem;
}

.button a {
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(20, 20, 20);
}

.full-height {
    height: auto;
}

.display-flex {
    display: flex;
}

.center-align {
    align-items: center;
}

.blog-post-cards {
    /* position: relative; */
}

.blog-post-card {
    position: relative;
    height: 300px;
    /* border-radius: 0.5rem; */
    padding: 20px;
    background-image: url("../img/hero.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.blog-post-card:hover {
    transform: scale(1.015, 1.015);
    transition: all 0.1s ease-in-out;
}

.blog-post-card-content {
    position: absolute;
    z-index: 2;
}

.blog-post-card h3 {
}

.overlay-dark {
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.418); */
    background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
}



.blog-post-hero {
    position: relative;
    /* background-image: url("../img/hero.jpg"); */
    min-height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.about-hero {
    position: relative;
    background-image: url("../img/hero.jpg");
    min-height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.contact-hero {
    position: relative;
    background-image: url("../img/hero.jpg");
    min-height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
}


.footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    min-height: 300px;
    background-color: rgb(128, 128, 128);
    text-align: center;
}


/* Form styling */

.form input,
.form textarea {
    width: 100%;
}


@media (max-width: 575px) {
    .navbar li {
        margin-left: 0px !important;
    }
    .nav-link {
        text-align: center;
    }
}